.courseItem {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.courseBlock {
	display: block;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid white;
}

.name {
	font-size: 22px;
}
