.teacherList {
	display: flex;
	align-items: center;
	justify-content: center;
}

.newTeacher {
	padding: 14px 12px;
	margin-left: 0;
	width: 100%;
	margin-top: 12px;
	color: white;
	background-color: rgb(51, 172, 40);
	font-size: 20px;
	font-weight: 700;
}
