.createTeacherModal {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.839);
	position: fixed;
	align-items: center;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}

.content {
	padding: 20px;
	border-radius: 12px;
	background-color: rgb(61, 60, 60);
	height: 70%;
	width: 740px;
}

.close {
	align-items: flex-start;
	justify-content: flex-end;
	display: flex;
}

.closeIcon {
	color: white;
	font-size: 24px;
	font-weight: 700;
	padding: 2px;
	border-radius: 100%;
}
.closeIcon:hover {
	background-color: rgb(200, 60, 60);
}

.createForm {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.infoInput {
	padding: 14px 12px;
	width: 100%;
	border-radius: 5px;
	border: none;
	font-size: 18px;
}

.infoInputRole {
	padding: 10px 8px;
	width: 100%;
	border-radius: 5px;
	border: none;
	font-size: 16px;
}

.regButton {
	padding: 14px 12px;
	margin-left: 0;
	width: 100%;
	margin-top: 12px;
	color: white;
	background-color: rgb(51, 172, 40);
	font-size: 20px;
	font-weight: 700;
}

.regButton:hover {
	background-color: green;
}
